<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Encyclopedia.Properties.Settings.fooConnectionString"
            connectionString="User Id=sql7271121;Password=EhtnVkBSsJ;Host=sql7.freemysqlhosting.net;Database=sql7271121;Character Set=utf8"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>