<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Encyclopedia.Properties.Settings.Connection" connectionString="server=db4free.net;user id=alator2;password=1234567890;database=alatorsdb2;oldguids=True;characterset=utf8"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>